* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    color: rgb(128, 128, 128);
    background-color: rgb(243, 243, 243);
}

footer ul li a {
    color: rgb(128, 128, 128);

}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.foot-left {
    float: left;
}

.foot-right {
    float: right;
}

li a {
    display: block;
    padding: 25px 15px;
    text-decoration: none;
    color: black;
    /* background-color: #dddddd; */
}

li a:hover {
    text-decoration: underline;
}

main {
    text-align: center;
    margin: 25% auto;
    display: block;
}

form {
    /* border: 1px solid black; */
    /* Wraps the entire form */

}

#logo-main {
    margin: auto;
}