* {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    text-align: center;
    margin: 0 auto;
}

form {
    /* border: 1px solid black; */
    /* Wraps the entire form */

}

#logo-main {
    margin: auto;
}