* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    position: fixed;
    font-size: 0.9em;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(128, 128, 128);
    background-color: rgb(245, 245, 245);
}

footer ul li a {
    color: rgb(128, 128, 128);
}

.nav-left {
    float: left;
}

.nav-left-container {
    margin: 5px 20px;
}

.nav-right {
    float: right;
}

/* This doesn't seem to do anything? Somehow inheriting from the left container. */
.nav-right-container {
    margin: 5px 20px;
}

.lens-container {
    width: 600px;
    margin: auto;
}

/* Needs work */
#lens {
    display: block;
    float: left;
    position: absolute;
    margin: 6px;
    color:rgb(112, 112, 112);
}

.searchbar {
    display: block;
    margin: 45px auto 25px;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 25px;
    border: thin solid rgb(219, 219, 219);
}

.searchbar:hover {
    box-shadow: 0px 0px 10px rgb(236, 236, 236);
}

button {
    position: relative;
    font-size: 0.9em;
    padding: 8px 15px;
    border-radius: 3px;
    background-color:rgb(245, 245, 245);
    margin: 5px 5px;
    border: thin solid rgb(245, 245, 245);

}

button:hover {
    border: thin solid rgb(236, 236, 236);
    box-shadow: 0 2px 2px rgb(236, 236, 236);
}

.foot-left {
    float: left;
}

.foot-right {
    float: right;
}

li a {
    display: block;
    padding: 25px 15px;
    text-decoration: none;
    color: black;
    /* background-color: #dddddd; */
}

.nav-icon a {
    padding: 17px 15px;
}

.material-icons {
    padding: 5px;
    border-radius: 50%;
}

.material-icons:hover {
    background-color: rgb(219, 219, 219);
}

li a:hover {
    text-decoration: underline;
}

main {
    text-align: center;
    margin: 220px auto;
    display: block;
}

#logo-main {
    margin: auto;
}